@model Eticaret.Model.Register;
@using Eticaret.Model.Enums;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kayıt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hemen Şimdi Üye Ol</div>
                    </div>
                    <form asp-action="Register" method="post">
                        <div class="card-body">
                            <div class="mb-3">
                                @Html.LabelFor(m=>m.Email, new { @class = "form-label", style="font-weight: bold;" })
                                @Html.TextBoxFor(m=>m.Email, new { @class = "form-control text-center" })
                                @Html.ValidationMessageFor(m=>m.Email, null, new { @class="text-danger" })
                            </div>

                            <div class="row">
                                <div class="mb-3 col-6">
                                    @Html.LabelFor(m=>m.Firstname, new { @class="form-label", style="font-weight: bold;" })
                                    @Html.TextBoxFor(m=>m.Firstname, new { @class = "form-control text-center" })
                                    @Html.ValidationMessageFor(m=>m.Firstname, null, new { @class="text-danger" })
                                </div>

                                <div class="mb-3 col-6">
                                    @Html.LabelFor(m=>m.Lastname, new { @class="form-label", style="font-weight: bold;" })
                                    @Html.TextBoxFor(m=>m.Lastname, new { @class = "form-control text-center" })
                                    @Html.ValidationMessageFor(m=>m.Lastname, null, new { @class="text-danger" })
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    @Html.LabelFor(m=>m.Birthday, new { @class="form-label", style="font-weight: bold;" })
                                    @Html.TextBoxFor(m=>m.Birthday, new { @class="form-control text-center", type="date" })
                                    @Html.ValidationMessageFor(m=>m.Birthday, null, new { @class="text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m=>m.MaritalStatus, new { @class="form-label", style="font-weight: bold;" })
                                    @Html.DropDownListFor(m=>m.MaritalStatus, new SelectList(Enum.GetValues(typeof(MaritalStatus))), new { @class="form-select" })
                                </div>
                            </div>

                            <div class="mb-3">
                                @Html.RadioButtonFor(m=>m.Gender, Gender.Female, new { @class = "form-check-input" })
                                <label class="fw-bold" style="margin-right: 30px;">Kadın</label>

                                @Html.RadioButtonFor(m=>m.Gender, Gender.Male, new { @class = "form-check-input" })
                                <label style="font-weight: bold;">Erkek</label>
                                
                                <br />
                                @Html.ValidationMessageFor(m=>m.Gender, null, new { @class="text-danger" })
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(m=>m.Password, new { @class="form-label", style="font-weight: bold;" })
                                    @Html.PasswordFor(m=>m.Password, new { @class = "form-control text-center" })
                                    @Html.ValidationMessageFor(m=>m.Password, null, new { @class="text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m=>m.Password2, new { @class="form-label", style="font-weight: bold;"})
                                    @Html.PasswordFor(m=>m.Password2, new { @class = "form-control text-center" })
                                    @Html.ValidationMessageFor(m=>m.Password2, null, new { @class="text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-outline-primary">Kaydol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>